{% extends 'base.html' %}

{% block title %}Property List{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Property Creation</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in property_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Save Property">
    </form>
</div>
{% endblock %}   
            
                
